#parse("base.html")
#@mainLayout()
<h1>Menu - Commande Client</h1>

<a href="/dashboard">Dashboard</a>

<hr>

<p>Tout les aliments disponibles :</p>

<form action="/" method="GET">
    <label for="item-select">Choisissez un aliment:</label>

    <input type="hidden" name="action" value="new" />

    <select name="items" id="item-select">
        #foreach ($i in $items)
        <option value="$velocityCount">$i.getName()</option>
        #end
    </select>

    <button type="submit">Nouvelle commande</button>
</form>

#end
