#parse("base.html")
#@mainLayout()
<h1>Home Template</h1>

<table>
    <thead>
    <tr>
        <th>N°</th>
        <th>Etat</th>
        <th>Item</th>
        <th>Nom</th>
    </tr>
    </thead>
    <tbody>
    #foreach ($c in $commands)
    <tr>
        <td>
            <a href="/command/$c.getNumber()">
                $c.getNumber()
            </a>
        </td>
        <td>$c.getState().name()</td>
        <td>$c.getItem().getTypeName()</td>
        <td>$c.getItem().getName()</td>
    </tr>
    #end
    </tbody>
</table>

<hr>

<p>Tout les aliments disponibles :</p>

<form action="/" method="GET">
    <label for="item-select">Choisissez un aliment:</label>

    <input type="hidden" name="action" value="new" />

    <select name="items" id="item-select">
        #foreach ($i in $items)
        <option value="$velocityCount">$i.getName()</option>
        #end
    </select>

    <button type="submit">Nouvelle commande</button>
</form>

#end
